body {
    background-color: rgb(38, 38, 38);
}

.centralize {
    display: flex;
    justify-content: center;
    margin: 125px;
}

.display-screen {
    width: 1024px;
    height: 576px;
    background-color: black;
}